-- MSSQL
USE IKANALM;
GO

/****** Object:  Table [dbo].[LIFECYCLE]    Script Date: 2/7/2023 3:52:19 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[LIFECYCLE](
	[OID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](255) NOT NULL,
	[ISBASE] [bit] NOT NULL,
	[PROJECTOID] [int] NOT NULL,
	[ARCHIVED] [bit] NULL,
	[ARCHIVEDDATETIME] [datetime] NULL,
	[VERSION] [int] NOT NULL,
 CONSTRAINT [LIFECYCLE_PK] PRIMARY KEY CLUSTERED
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[PROJECT]    Script Date: 2/7/2023 3:51:12 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[PROJECT](
	[OID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](512) NOT NULL,
	[VCRPROJECTNAME] [varchar](50) NULL,
	[BUILDSCRIPT] [varchar](255) NULL,
	[DEPLOYSCRIPT] [varchar](255) NULL,
	[TESTSCRIPT] [varchar](255) NULL,
	[BUILDTOOLTYPE] [int] NOT NULL,
	[DEPLOYTOOLTYPE] [int] NULL,
	[TESTTOOLTYPE] [int] NULL,
	[VCROID] [int] NULL,
	[ISSUETRACKINGSYSTEMOID] [int] NULL,
	[LOCKED] [bit] NOT NULL,
	[PROJECTTYPE] [int] NOT NULL,
	[USERGROUPOID] [int] NULL,
	[ADMINGROUPOID] [int] NULL,
	[ARCHIVED] [bit] NULL,
	[ARCHIVEDDATETIME] [datetime] NULL,
	[VERSION] [int] NOT NULL,
 CONSTRAINT [PROJECT_PK] PRIMARY KEY CLUSTERED
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[PROJECTSTREAM]    Script Date: 2/7/2023 3:52:53 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[PROJECTSTREAM](
	[OID] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
	[DESCRIPTION] [varchar](512) NULL,
	[ISHEAD] [bit] NOT NULL,
	[ISTAGBASED] [bit] NOT NULL,
	[BUILDPREFIX] [varchar](50) NOT NULL,
	[LOCKED] [bit] NOT NULL,
	[BUILDTYPE] [int] NOT NULL,
	[TAGTEMPLATE] [varchar](255) NOT NULL,
	[PARTIALBUILDTAG] [varchar](255) NULL,
	[HIGHESTBUILDNUMBER] [int] NOT NULL,
	[VCRBRANCHIDENTIFICATION] [varchar](255) NULL,
	[BUILDSUFFIX] [varchar](50) NULL,
	[ACCEPTFORCEDBUILD] [bit] NOT NULL,
	[PROJECTOID] [int] NOT NULL,
	[LIFECYCLEOID] [int] NOT NULL,
	[ARCHIVED] [bit] NULL,
	[ARCHIVEDDATETIME] [datetime] NULL,
	[VERSION] [int] NOT NULL,
 CONSTRAINT [PROJECTSTREAM_PK] PRIMARY KEY CLUSTERED
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[PROJECTSTREAM] ADD  DEFAULT ((0)) FOR [ISTAGBASED]
GO

/****** Object:  Table [dbo].[SUBVERSION]    Script Date: 2/7/2023 3:53:42 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[SUBVERSION](
	[OID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[USERID] [varchar](50) NULL,
	[PASSWORD] [varchar](255) NULL,
	[COMMANDPATH] [varchar](255) NOT NULL,
	[TIMEOUT] [int] NOT NULL,
	[REPOSITORYURL] [varchar](255) NOT NULL,
	[TAGSDIRECTORY] [varchar](255) NOT NULL,
	[TRUNKDIRECTORY] [varchar](255) NULL,
	[REPOSITORYLAYOUT] [int] NOT NULL,
	[ARCHIVED] [bit] NULL,
	[FETCHMETAPROPERTIES] [bit] NULL,
	[ARCHIVEDDATETIME] [datetime] NULL,
	[VERSION] [int] NOT NULL,
 CONSTRAINT [SUBVERSION_PK] PRIMARY KEY CLUSTERED
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO