USE [IKALM_APP]
GO
/****** Object:  Table [dbo].[LIFECYCLE]    Script Date: 23/02/2018 11:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIFECYCLE](
	[OID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](255) NOT NULL,
	[ISBASE] [bit] NOT NULL,
	[PROJECTOID] [int] NOT NULL,
	[ARCHIVED] [bit] NULL,
	[ARCHIVEDDATETIME] [datetime] NULL,
	[VERSION] [int] NOT NULL,
 CONSTRAINT [LIFECYCLE_PK] PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROJECT]    Script Date: 23/02/2018 11:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECT](
	[OID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](512) NOT NULL,
	[VCRPROJECTNAME] [varchar](50) NULL,
	[BUILDSCRIPT] [varchar](255) NULL,
	[DEPLOYSCRIPT] [varchar](255) NULL,
	[TESTSCRIPT] [varchar](255) NULL,
	[BUILDTOOLTYPE] [int] NOT NULL,
	[DEPLOYTOOLTYPE] [int] NULL,
	[TESTTOOLTYPE] [int] NULL,
	[VCROID] [int] NULL,
	[ISSUETRACKINGSYSTEMOID] [int] NULL,
	[LOCKED] [bit] NOT NULL,
	[PROJECTTYPE] [int] NOT NULL,
	[USERGROUPOID] [int] NULL,
	[ADMINGROUPOID] [int] NULL,
	[ARCHIVED] [bit] NULL,
	[ARCHIVEDDATETIME] [datetime] NULL,
	[VERSION] [int] NOT NULL,
 CONSTRAINT [PROJECT_PK] PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROJECTSTREAM]    Script Date: 23/02/2018 11:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTSTREAM](
	[OID] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
	[DESCRIPTION] [varchar](512) NULL,
	[ISHEAD] [bit] NOT NULL,
	[ISTAGBASED] [bit] NOT NULL,
	[BUILDPREFIX] [varchar](50) NOT NULL,
	[LOCKED] [bit] NOT NULL,
	[BUILDTYPE] [int] NOT NULL,
	[TAGTEMPLATE] [varchar](255) NOT NULL,
	[PARTIALBUILDTAG] [varchar](255) NULL,
	[HIGHESTBUILDNUMBER] [int] NOT NULL,
	[VCRBRANCHIDENTIFICATION] [varchar](255) NULL,
	[BUILDSUFFIX] [varchar](50) NULL,
	[ACCEPTFORCEDBUILD] [bit] NOT NULL,
	[PROJECTOID] [int] NOT NULL,
	[LIFECYCLEOID] [int] NOT NULL,
	[ARCHIVED] [bit] NULL,
	[ARCHIVEDDATETIME] [datetime] NULL,
	[VERSION] [int] NOT NULL,
 CONSTRAINT [PROJECTSTREAM_PK] PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUBVERSION]    Script Date: 23/02/2018 11:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBVERSION](
	[OID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[USERID] [varchar](50) NULL,
	[PASSWORD] [varchar](255) NULL,
	[COMMANDPATH] [varchar](255) NOT NULL,
	[TIMEOUT] [int] NOT NULL,
	[REPOSITORYURL] [varchar](255) NOT NULL,
	[TAGSDIRECTORY] [varchar](255) NOT NULL,
	[TRUNKDIRECTORY] [varchar](255) NULL,
	[REPOSITORYLAYOUT] [int] NOT NULL,
	[ARCHIVED] [bit] NULL,
	[FETCHMETAPROPERTIES] [bit] NULL,
	[ARCHIVEDDATETIME] [datetime] NULL,
	[VERSION] [int] NOT NULL,
 CONSTRAINT [SUBVERSION_PK] PRIMARY KEY CLUSTERED 
(
	[OID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[LIFECYCLE] ([OID], [NAME], [DESCRIPTION], [ISBASE], [PROJECTOID], [ARCHIVED], [ARCHIVEDDATETIME], [VERSION]) VALUES (4, N'BASE', N'BASE Lifecycle', 1, 3, NULL, NULL, 0)
INSERT [dbo].[LIFECYCLE] ([OID], [NAME], [DESCRIPTION], [ISBASE], [PROJECTOID], [ARCHIVED], [ARCHIVEDDATETIME], [VERSION]) VALUES (5, N'Release', N'Release Standard', 0, 3, NULL, NULL, 1)
INSERT [dbo].[LIFECYCLE] ([OID], [NAME], [DESCRIPTION], [ISBASE], [PROJECTOID], [ARCHIVED], [ARCHIVEDDATETIME], [VERSION]) VALUES (27, N'Reference', N'Reference Lifecycle DA NON UTILIZZARE', 1, 7, NULL, NULL, 0)
GO
INSERT [dbo].[PROJECT] ([OID], [NAME], [DESCRIPTION], [VCRPROJECTNAME], [BUILDSCRIPT], [DEPLOYSCRIPT], [TESTSCRIPT], [BUILDTOOLTYPE], [DEPLOYTOOLTYPE], [TESTTOOLTYPE], [VCROID], [ISSUETRACKINGSYSTEMOID], [LOCKED], [PROJECTTYPE], [USERGROUPOID], [ADMINGROUPOID], [ARCHIVED], [ARCHIVEDDATETIME], [VERSION]) VALUES (3, N'RMAZOS_DEFAULT', N'SIGE Project for releases', N'SIGEA', N'build.xml', N'deploy.xml', NULL, 0, 0, NULL, 1, NULL, 0, 0, 12, 12, 0, NULL, 17)
INSERT [dbo].[PROJECT] ([OID], [NAME], [DESCRIPTION], [VCRPROJECTNAME], [BUILDSCRIPT], [DEPLOYSCRIPT], [TESTSCRIPT], [BUILDTOOLTYPE], [DEPLOYTOOLTYPE], [TESTTOOLTYPE], [VCROID], [ISSUETRACKINGSYSTEMOID], [LOCKED], [PROJECTTYPE], [USERGROUPOID], [ADMINGROUPOID], [ARCHIVED], [ARCHIVEDDATETIME], [VERSION]) VALUES (7, N'DW01', N'Data Warehouse', N'DW01', N'build.xml', N'deploy.xml', NULL, 0, 0, NULL, 3, NULL, 0, 1, 11, 12, 0, NULL, 30)
INSERT [dbo].[PROJECT] ([OID], [NAME], [DESCRIPTION], [VCRPROJECTNAME], [BUILDSCRIPT], [DEPLOYSCRIPT], [TESTSCRIPT], [BUILDTOOLTYPE], [DEPLOYTOOLTYPE], [TESTTOOLTYPE], [VCROID], [ISSUETRACKINGSYSTEMOID], [LOCKED], [PROJECTTYPE], [USERGROUPOID], [ADMINGROUPOID], [ARCHIVED], [ARCHIVEDDATETIME], [VERSION]) VALUES (8, N'EURO', N'EURO project for RELEASE management. Per gestire Deploy in Pre-Produzione e Deploy in Produzione di un intero Projects Stream di Release', N'EURO', N'build.xml', N'deploy.xml', NULL, 0, 0, NULL, 3, NULL, 0, 0, 11, 12, 0, NULL, 22)
INSERT [dbo].[PROJECTSTREAM] ([OID], [STATUS], [DESCRIPTION], [ISHEAD], [ISTAGBASED], [BUILDPREFIX], [LOCKED], [BUILDTYPE], [TAGTEMPLATE], [PARTIALBUILDTAG], [HIGHESTBUILDNUMBER], [VCRBRANCHIDENTIFICATION], [BUILDSUFFIX], [ACCEPTFORCEDBUILD], [PROJECTOID], [LIFECYCLEOID], [ARCHIVED], [ARCHIVEDDATETIME], [VERSION]) VALUES (4, 6, NULL, 1, 0, N'Base', 0, 0, N'${streamType}_${prefix}_b${buildNumber}', NULL, 0, NULL, NULL, 1, 3, 4, 0, NULL, 1)
INSERT [dbo].[PROJECTSTREAM] ([OID], [STATUS], [DESCRIPTION], [ISHEAD], [ISTAGBASED], [BUILDPREFIX], [LOCKED], [BUILDTYPE], [TAGTEMPLATE], [PARTIALBUILDTAG], [HIGHESTBUILDNUMBER], [VCRBRANCHIDENTIFICATION], [BUILDSUFFIX], [ACCEPTFORCEDBUILD], [PROJECTOID], [LIFECYCLEOID], [ARCHIVED], [ARCHIVEDDATETIME], [VERSION]) VALUES (6, 1, NULL, 0, 0, N'Release', 0, 0, N'${streamType}_${prefix}_${suffix}_b${buildNumber}', NULL, 4, N'SIGEA/branches/SIGE1505', N'SIGE1505', 1, 3, 5, 0, NULL, 7)
INSERT [dbo].[PROJECTSTREAM] ([OID], [STATUS], [DESCRIPTION], [ISHEAD], [ISTAGBASED], [BUILDPREFIX], [LOCKED], [BUILDTYPE], [TAGTEMPLATE], [PARTIALBUILDTAG], [HIGHESTBUILDNUMBER], [VCRBRANCHIDENTIFICATION], [BUILDSUFFIX], [ACCEPTFORCEDBUILD], [PROJECTOID], [LIFECYCLEOID], [ARCHIVED], [ARCHIVEDDATETIME], [VERSION]) VALUES (7, 1, N'New release SIGEA planned for 2015 in november', 0, 0, N'Release', 0, 0, N'${streamType}_${prefix}_${suffix}_b${buildNumber}', NULL, 7, N'SIGEA/branches/SIGE1511', N'SIGE1511', 1, 3, 5, 0, NULL, 11)
GO
INSERT [dbo].[SUBVERSION] ([OID], [NAME], [DESCRIPTION], [USERID], [PASSWORD], [COMMANDPATH], [TIMEOUT], [REPOSITORYURL], [TAGSDIRECTORY], [TRUNKDIRECTORY], [REPOSITORYLAYOUT], [ARCHIVED], [FETCHMETAPROPERTIES], [ARCHIVEDDATETIME], [VERSION]) VALUES (1, N'SVN_Repository', N'RMA Repository
http://ws001sc1-00-alm.rmasede.grma.net:18088/svn/SIGEA/', NULL, N'869462b05d7cd61d0f291876bfce2928', N'C:/Program Files/SlikSvn/bin', 300, N'svn://ws001sc1-00-alm', N'TagVersioni', N'Reference', 0, NULL, 0, NULL, 11)
INSERT [dbo].[SUBVERSION] ([OID], [NAME], [DESCRIPTION], [USERID], [PASSWORD], [COMMANDPATH], [TIMEOUT], [REPOSITORYURL], [TAGSDIRECTORY], [TRUNKDIRECTORY], [REPOSITORYLAYOUT], [ARCHIVED], [FETCHMETAPROPERTIES], [ARCHIVEDDATETIME], [VERSION]) VALUES (3, N'IKALM_EURO', N'Repository per tutti i project EURO -- Repository http://ws001sc1-00-alm:18088/svn/IKALM_EURO', N'EY00018', N'869462b05d7cd61d0f291876bfce2928', N'C:/Program Files/SlikSvn/bin', 720, N'http://ws001sc1-00-alm:18088/svn/IKALM_EURO', N'TagVersioni', N'Reference', 0, NULL, 0, NULL, 4)
INSERT [dbo].[SUBVERSION] ([OID], [NAME], [DESCRIPTION], [USERID], [PASSWORD], [COMMANDPATH], [TIMEOUT], [REPOSITORYURL], [TAGSDIRECTORY], [TRUNKDIRECTORY], [REPOSITORYLAYOUT], [ARCHIVED], [FETCHMETAPROPERTIES], [ARCHIVEDDATETIME], [VERSION]) VALUES (4, N'IKALM_SIGEA', N'Repository per tutti i project SIGEA -- Repository http://ws001sc1-00-alm:18088/svn/IKALM_SIGEA', N'EY00018', N'869462b05d7cd61d0f291876bfce2928', N'C:/Program Files/SlikSvn/bin', 720, N'http://ws001sc1-00-alm:18088/svn/IKALM_SIGEA', N'TagVersioni', N'Reference', 0, NULL, 0, NULL, 2)
ALTER TABLE [dbo].[PROJECTSTREAM] ADD  DEFAULT ((0)) FOR [ISTAGBASED]
GO
