CREATE TABLE LIFECYCLE(
	OID int NOT NULL,
	NAME varchar(50) NOT NULL,
	DESCRIPTION varchar(255) NOT NULL,
	ISBASE bit NOT NULL,
	PROJECTOID int NOT NULL,
	ARCHIVED bit NULL,
	ARCHIVEDDATETIME datetime NULL,
	VERSION int NOT NULL,
);

CREATE TABLE PROJECT(
	OID int NOT NULL,
	NAME varchar(50) NOT NULL,
	DESCRIPTION varchar(512) NOT NULL,
	VCRPROJECTNAME varchar(50) NULL,
	BUILDSCRIPT varchar(255) NULL,
	DEPLOYSCRIPT varchar(255) NULL,
	TESTSCRIPT varchar(255) NULL,
	BUILDTOOLTYPE int NOT NULL,
	DEPLOYTOOLTYPE int NULL,
	TESTTOOLTYPE int NULL,
	VCROID int NULL,
	ISSUETRACKINGSYSTEMOID int NULL,
	LOCKED bit NOT NULL,
	PROJECTTYPE int NOT NULL,
	USERGROUPOID int NULL,
	ADMINGROUPOID int NULL,
	ARCHIVED bit NULL,
	ARCHIVEDDATETIME datetime NULL,
	VERSION int NOT NULL,
);

CREATE TABLE PROJECTSTREAM(
	OID int NOT NULL,
	STATUS int NOT NULL,
	DESCRIPTION varchar(512) NULL,
	ISHEAD bit NOT NULL,
	ISTAGBASED bit NOT NULL,
	BUILDPREFIX varchar(50) NOT NULL,
	LOCKED bit NOT NULL,
	BUILDTYPE int NOT NULL,
	TAGTEMPLATE varchar(255) NOT NULL,
	PARTIALBUILDTAG varchar(255) NULL,
	HIGHESTBUILDNUMBER int NOT NULL,
	VCRBRANCHIDENTIFICATION varchar(255) NULL,
	BUILDSUFFIX varchar(50) NULL,
	ACCEPTFORCEDBUILD bit NOT NULL,
	PROJECTOID int NOT NULL,
	LIFECYCLEOID int NOT NULL,
	ARCHIVED bit NULL,
	ARCHIVEDDATETIME datetime NULL,
	VERSION int NOT NULL,
);

CREATE TABLE SUBVERSION(
	OID int NOT NULL,
	NAME varchar(50) NOT NULL,
	DESCRIPTION varchar(255) NULL,
	USERID varchar(50) NULL,
	PASSWORD varchar(255) NULL,
	COMMANDPATH varchar(255) NOT NULL,
	TIMEOUT int NOT NULL,
	REPOSITORYURL varchar(255) NOT NULL,
	TAGSDIRECTORY varchar(255) NOT NULL,
	TRUNKDIRECTORY varchar(255) NULL,
	REPOSITORYLAYOUT int NOT NULL,
	ARCHIVED bit NULL,
	FETCHMETAPROPERTIES bit NULL,
	ARCHIVEDDATETIME datetime NULL,
	VERSION int NOT NULL,
);

